@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
header{
  font-family:  trebuchet;
  font-size: 220%;
  color: #120f0f;
  background: #ad2525;
  padding: 10px;
  padding-left: 45px;
  border-bottom: solid;
  border-radius: 15px;
}

 #nav-bar{
  background:  #c81e13;
  font-family:  trebuchet;
  font-size: 110%;
  padding: 7px;
  border-radius: 5px;
 }

 #nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
  text-align: center;
}
#nav-bar ul li {
  display: inline-block;
  border-right: solid;
  width :15%;

}
#nav-bar ul li.last {
  border-right: none;
}
footer{
  font-family:  trebuchet;
  font-size: 100%;
  color: #c2b7b7;
  background: #ad2525;
  padding: 10px;
  padding-left: 45px;
  border-radius: 15px;
  height : 4S%;
  line-height: 1;
  text-align: right;
  padding-right: 5%;

}
a {
    text-decoration: none;
    color: #c2b7b7;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
ul {
    padding:0;
    list-style: none;
    display: inline-block;  

  }
  ul li {
  display: inline-block;
}